header{
	background-color: forestgreen;
}
.completed{
	text-decoration:line-through;
	opacity: 0.6;
}
button{
	border: none;
	background: none;
}

.todo-item i{
    width:23px;
}
.delete{
     float: right;
}
.todo-list{
	max-width: 700px;
	margin: 0 auto;
	border:1px solid #888;
	border-radius: 3px;
	margin-top: 100px;
	padding: 30px 20px;
}

h1{
	color: #fff;
}
header{
	overflow: hidden;
	text-align: center;
}
.todo-item{
	padding:5px 10px;
}
.todo-item:hover{
	background-color: rgba(0,0,0,0.1);
}
